

<table id="tblproduct" class="table table-hover">
    <thead>
        <tr>
            <th style="width: 10%">Ürün Kodu</th>
            <th style="width: 45%">Ürün Adı</th>
            <th style="width: 7%">Stok</th>
            <th style="width: 14%">Renk</th>
            <th style="width: 7%">Kilo</th>
            <th style="width: 5%">Alış Fiyatı</th>
            <th style="width: 5%">Satış Fiyatı</th>
            <th style="width: 25%">Görsel</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
           if (i.CategoryId == 2)
           {
            <tr>
                <td>@i.ProductCode</td>
                <td>@i.ProductName</td>
                <td>@i.Stock</td>
                <td>@i.Color</td>
                <td>@i.Kg</td>
                <td>@i.Pprice</td>
                <td>@i.Sprice</td>
                <td>@i.Image</td>
                <td><button onclick="confirmDelete(@i.ProductId)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
                <td><a href="/Product/GetProduct/@i.ProductId" class="btn btn-success" style="background-color: coral"><i class="fas fa-pen-alt"></i></a></td>
            </tr>
               }
           }
    </tbody>
</table>

